.block_all {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 800px;
}

.block_all>div {
    width: calc((90% - 4*3px) / 3);
    background: #ccc;
    float: left;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

img {
    width: 100px;
    height: auto;
}