.average_block {
    display: flex;
    width: 700px;
}

.average_block_1 {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 425px;
    height: 300px;
}

.average_block p {
    margin: 4px;
    color: gray;
}

.average_block_2 {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    width: 425px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.average_block_3 {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    width: 425px;
    height: 300px;
}

a.button {
    display: inline-block;
    background: white;
    color: black;
    padding: 16px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    border-style: solid;
    border-width: 1px;
    width: 120px;
    text-align: center;
    margin-top: 40px;
}

